*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;


}

input, button {
  appearance: none;
  background: none; 
  border: none;
  outline: none
}

.App{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #53565A;

}

body {
  background-color: #53565A;
}

form {
  display: block;
  position: relative
}

form:after{
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FF944d, #FF6600);
}

form .form-inner{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 50px;
  z-index: 2;
}

form .cpw-form{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 50px;
  z-index: 2;
}

.gradient {
  display: block;
  position: relative;
}

.gradient:after {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FF944d, #FF6600);
}

.gradient-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 50px;
  z-index: 2;
  min-width: 370px;
}

form .form-inner h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;

}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;

}

form .form-inner .form-group:label{
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
  
}

form .form-inner .form-group:focus-within label{
  color: #FE4880; 
} 

form .form-inner .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
} 

.textInput:focus {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

form .form-inner input[type = "submit"], .welcome button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

form .form-inner input[type = "submit"]:hover, .welcome button:hover {
  background-position: 100% 0%;

}

form .form-inner input[type = "button"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

form .form-inner input[type = "button"]:hover{
  background-position: 100% 0%;

}

.welcome{
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding: 50px 30px;
}

.welcome h1{
  margin-bottom: 30px;
}

.welcome h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome span{
  color: #FE4800;
  font-weight: 700;
}

.error h4 {
  color: #FE4800;
}

.admin{
  width: 100%;
  max-width: 480px;
  background-color: #fff;
  padding: 50px 30px;
}

.admin h1{
  margin-bottom: 30px;
}

.admin h2{
  color: #000000;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 30px;
}

.admin input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
  
  
}

.admin:focus-within label{
  color: #FE4880;
} 

.admin button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

.admin button:hover {
  background-position: 100% 0%;

}

.form-inner button {
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

.form-inner button:hover {
  background-position: 100% 0%;

}

/* new thing */

.admin-inner{
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 200px;
  z-index: 2;

}

.admin-inner h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;

}

.admin-inner .admin-group{
  display: block;
  width: 300px;
  margin-bottom: 15px;

}

.admin-inner .admin-group:label{
  display: block;
  color: #666;
  font-size: 12px;
  margin-bottom: 5px;
  transition: 0.4s;
  
}

.admin-inner .admin-group:focus-within label{
  color: #FE4880; 
} 

.admin-inner .admin-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #F8F8F8;
  border-radius: 8px;
  transition: 0.4s;
  
  
} 
.admin-inner .admin-group input:focus{
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  
  
} 

.admin-inner input[type = "submit"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

.admin-inner input[type = "submit"]:hover{
  background-position: 100% 0%;

}

.admin-inner input[type = "button"]{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #FFCE00 50%, #FFCE00 50%, #FE4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;

}

.admin-inner input[type = "button"]:hover{
  background-position: 100% 0%;

}
